<h1>List of Directors</h1>

<!--#12 When we create model files in the model folder, Rails automatically requires those classes everywhere = these classes become Global variables-->

<!--#13 Now we can start following the target website and create the necessary HTML to match it while accessing all the proper databases. The "a_director" is an INSTANCE = a row. -->

<table border="1">
  <!--#14 Creating the row headings. <tr> creates the rows for the table. <th> creates the heading for these rows (indirectly defines how many columns there are)-->
  <tr>

    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Dob</th>
    <th></th>

  </tr>

  <!--#15 Create another row BELOW the ROW HEADING. Use <td>: these create the cells that need to be populated with information. The "a_director" is an INSTANCE = ONE row of information. SEARCH routes.rb--> 
  <% Director.all.each do |a_director| %>
    <tr>
      <td> <%= a_director.id %></td>
      <td> 
        <img src="<%= a_director.image %>" width="100">
      </td>
      <td> <%= a_director.name %></td>
      <td> <%= a_director.dob %> </td>
      <td>
        <a href="/directors/<%= a_director.id %>">Show details
      </td>
    </tr>
  <% end%>

</table>
